body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(179, 228, 211);
}

.main__game{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genius{
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue{
    grid-area: 'blue';
    background-color: blue;
    border-top-left-radius: 100%;
}

.red{
    grid-area: 'red';
    background-color: red;
    border-bottom-left-radius: 100%;
}

.yellow{
    grid-area: 'yellow';
    background-color: yellow;
    border-top-right-radius: 100%;
}


.green{
    grid-area: 'green';
    background-color: green;
    border-bottom-right-radius: 100%;
}

.selected{
    opacity: 0.2;
}